#logo {
    letter-spacing: 5px;
    color:white;
}

#logo:hover {
    color:red;
}

.dugme {
    margin-top: 34%;
}
.pagination {
    justify-content: center;
}

.center {
    text-align:center;
}

.badge {
    background-color: goldenrod;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    margin-right: 5px;
    border-radius: 20%;
}
    
.input_checkbox input {
    width: auto !important;
}

.lab label {
    margin-right: 10px;
    margin-left: 10px;
}
.dugme a {
    text-transform: uppercase;
}

#Articles {
    color: greenyellow;
}

.listing {
    list-style: none;
    padding-left: 0;
}

.img-circle {
    border-radius: 50%;
}

.navbar {
    margin-bottom: 30px;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('1_-oIlwIWlt0BDN4b5a9rRCQ.png');
    height:550px;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron h1 {
    letter-spacing: 10px;
    color: black;
    text-align:center;
    text-shadow: 3px 3px gray;
}

.btn-xlarge {
    background-color:  FireBrick;
    width:250px;
}

.link {
    text-align: center;
}

.container h1 {
    text-align:center;
}

#form-new {
    margin-top:50px;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 2px solid firebrick;
    color: black;
}

textarea {
    height:150px;
}

footer {
    a:hover {
    color:firebrick;
    text-decoration: none;
    }

    a {
        color:blue;
    }

    small {
        float:left;
    }

    ul {
        float: right;
        list-style: none;
    }
}
 

.btn-xlarge:hover {
    background-color: gray;
    text-decoration: none;
}

.pagination ul li a {
    padding: 5px;
    text-decoration: none;
}

.pagination ul li {
    margin: 1px;
    border: 1px solid darkslategray;
    border-radius: 10%;
    background-color: lightslategray;
    box-shadow: 2px 2px darkslategray;
}

.pagination ul li:hover {
    background-color: white;
}

body {
    background:linear-gradient(to right, white , #708090);
}

.marg {
    margin-bottom: 15px;

}

.marg .card-body {
    text-align:center;
    
}

a {
    color: black;
    font-weight: 600;
}



.btn1 {
    float:left;
    margin-right: 10px;
    margin-top: 10px;
}

.btn2 {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.rowindex {
    margin-top: 60px;
}

.created {
    margin-top: 10px;
    border-top: 1px solid black;
}

.article-actions {
    border-top:1px solid firebrick;
}

.lists {
    list-style: none;
}

#none{
    list-style: none;
}

.dropdown-menu {
    left:-15%;
}

#articles1 {
    background: none;
    border: none;
    color: aqua;
    cursor: pointer;
}