#logo {
    letter-spacing: 5px;
    color:white;

}
#logo:hover {
    color:red;
    
}
#Articles {
    color: greenyellow;
    
}


table {
    
    background-color: yellow;
    border-collapse: separate;
    border: 4px solid black;
}

body {
    background-color: green;
}
img {
    width: 300px;
    height: 300px;
    border: 6px solid yellowgreen;

}
a {
    color: purple;
}
.slika {
    width: 250px;
    height: 250px;
    border: 6px solid red;
}

.button_to input {
    border: none;
    background-color: rgba(200,0,0,0);
    color: purple;
    text-decoration: underline;
    font: 400 15.3333px "Times New Roman";
    padding: 0;
    cursor:pointer;
}
 
