<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy
      <a href="enter in a link here">ALPHA BLOG</a>
      by
      <a href="https://www.facebook.com/profile.php?id=100000588727880">Boban Jankovic</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "Articles", articles_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>